/*==========================================

        Universal styling
==========================================*/

* {
  margin: 0;
  padding:0;
  border: 0;
}

header {
  text-align: center;
  background: brown;
  padding: 20px 0;
}

header nav ul li {
  display:inline;
}

header nav a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin: 0 20px;
}

header nav a:hover {
  color: lightgreen;
}
