/*==========================================

        Universal styling

==========================================*/

* {
  margin: 0;
  padding:0;
  border: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/*==========================================

        Navigation styling

==========================================*/


header {
  text-align: center;
  background: brown;
  padding: 20px 0;
}

header nav ul li {
  display:inline;
}

header nav a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin: 0 20px;
}

header nav a:hover {
  color: lightgreen;
}

/*==========================================

        Animation styling

==========================================*/

.sky,
.ground,
.grass {
  position: relative;
}


.sky {
  height: 50%;
  background: skyblue;
}

.wolf {
    height: 200px;
}

.grass {
  height: 30%
}
