/*==========================================

        Universal styling

==========================================*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Nerko One', cursive;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html {
    background: lightyellow;
}


/*==========================================

        Navigation styling

==========================================*/

header {
    text-align: center;
    background: brown;
    padding: 20px 0;
}

header nav ul li {
    display: inline;
}

header nav a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    margin: 0 20px;
}

header nav a:hover {
    color: lightgreen;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    width: 100%;
}


/*==========================================

        Text styling

==========================================*/

h1,
p {
    text-align: center;
}

h1 {
    font-size: 50px;
    color: darkred;
}

p {
    font-size: 20px;
}


/*==========================================

        Flip Card styling

==========================================*/

.flip-card {
    position: absolute;
    z-index: 1;
    width: 7%;
    display: inline-block;
    background: transparent;
    margin: 30px;
    bottom: 30vw;
}

.flip-card img {
    width: 100%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    transition: transform .6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-back {
    position: relative;
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.box1 {
    left: 30%;
}

.box2 {
    left: 50%;
}

.box3 {
    left: 70%;
}


/*==========================================

        Animation styling

==========================================*/

.sky,
.ground {
    position: relative;
}

.sky {
    height: 100%;
    background: skyblue;
}

.grass {
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.wolf {
    position: absolute;
    width: 20%;
    animation: move 4s forwards infinite linear, jump 1s infinite ease-out
}

.cloud-top,
.cloud-bottom {
    position: absolute;
}

.cloud-top {
    width: 200px;
    top: 120px;
    opacity: .5;
    animation: wind 40s forwards infinite linear reverse;
}

.cloud-bottom {
    width: 300px;
    top: 0;
    animation: wind 30s forwards infinite linear reverse;
}

@keyframes move {
    from {
        transform: translateX(-100px)
    }
    to {
        transform: translatex(1000px)
    }
}

@keyframes wind {
    from {
        left: -300px;
    }
    to {
        left: 2000px;
    }
}

@keyframes jump {
    0% {
        bottom: 0px;
    }
    50% {
        bottom: 30%;
    }
    100% {
        bottom: 0px;
    }
}