/*==========================================

        Universal styling

==========================================*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


/*==========================================

        Navigation styling

==========================================*/

header {
    text-align: center;
    background: brown;
    padding: 20px 0;
}

header nav ul li {
    display: inline;
}

header nav a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    margin: 0 20px;
}

header nav a:hover {
    color: lightgreen;
}


/*==========================================

        Animation styling

==========================================*/

.sky,
.ground {
    position: relative;
}

.sky {
    height: 40%;
    background: skyblue;
}

.grass {
    width: 100%;
    position: relative;
    top: -150px;
}

.ground {
    background: skyblue;
}

.wolf {
    position: absolute;
    height: 200px;
    left: 50px;
    top: 220px;
    animation: move 4s forwards infinite linear, jump 1s infinite ease-out
}

.cloud-top,
.cloud-bottom {
    position: absolute;
}

.cloud-top {
    width: 200px;
    top: 120px;
    opacity: .5;
    animation: wind 40s forwards infinite linear reverse;
}

.cloud-bottom {
    width: 300px;
    top: 0;
    animation: wind 30s forwards infinite linear reverse;
}

@keyframes move {
    from {
        transform: translateX(-100px)
    }
    to {
        transform: translatex(1200px)
    }
}

@keyframes wind {
    from {
        left: -300px;
    }
    to {
        left: 2000px;
    }
}

@keyframes jump {
    0% {
        top: 220px;
    }
    50% {
        top: -25px;
    }
    100% {
        top: 220px;
    }
}